<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=DESKTOP-MUCUS81\\SQLEXPRESS01;Database=Nafta;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<!-- Email Settings -->
		<add key="SmtpServer" value="smtp.gmail.com" />
		<add key="Port" value="587" />
		<add key="EnableSsl" value="true" />
		<add key="FromEmail" value="jonatan.monti.uai@gmail.com" />
		<add key="FromName" value="Nafta Support" />
		<add key="Password" value="kpcrbvzzhgkutqcv" />
	</appSettings>
</configuration>